body.home {
	pointer-events: none;
	header {
		.menu-opener,
		.contact-button {
			will-change: filter,opacity;
			filter: blur(20px);
			opacity: 0;
			transition: filter 1000ms cubic-bezier(0.25,0.1,0.25,1), opacity 1100ms cubic-bezier(0.25,0.1,0.25,1);
		}
		
		.logo-wrap {
			opacity: 0;
		}
		
		.outer-content-wrap {
			filter: invert(100%);
		}
		
		@media only screen and (max-width: 768px) {
			.logo-wrap {
				opacity: 0 !important;
			}
		}
			
	}
	
	//––UNBLURRED SPECIFICS
	&.unblurred,
	&.loader-has-run {
		pointer-events: all;
		
		header {
			.menu-opener,
			.contact-button {
				filter: blur(0px);
				opacity: 1;
			}
		}
		
		.page-wrap#home-page {
			.splash-panel {
				.side {
					opacity: 1 !important;
					.title-overlay {
						filter: blur(0px);
						opacity: 1;
					}
				}
				.down-arrow {
					filter: blur(0px);
					opacity: 1;
				}
			}
		}
		
	}
	
	&.loader-has-run {
		
		header {
			.logo-wrap {
				opacity: 1;
			}
		}
		
		.page-wrap#home-page {
			.splash-panel {
				@media only screen and (min-width: 768px) {
					.logo-wrap {
						opacity: 0 !important;
					}
				}
			}
		}
		
	}
	
	//––LOGO SCALED
	@media only screen and (max-width: 768px) {
		&.logo-scaled {
			
			header {
				.logo-wrap {
					opacity: 1 !important;
					pointer-events: all !important;
				}
			}
			
			.page-wrap#home-page {
				.splash-panel {
					.logo-wrap.scaling {
						visibility: hidden !important;
					}
				}
			}
			
		}
	}
	
}

/*
PAGE WRAP ------------------
*/

.page-wrap#home-page {
	
	//SPLASH PANEL
	.splash-panel {
		width: 100%; height: 100svh;
		background-color: $colour-off-black;
		overflow: hidden;
		
		//00––Video Loading BG's
		.video-loading-bg {
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0;
			z-index: 5;
			pointer-events: none;
			&.desktop { display: block; }
			&.mobile { display: none; }
			
			@media only screen and (max-width: 768px) {
				&.desktop { display: none; }
				&.mobile { display: block; }
			}
			
		}
		
		//00––Sides
		.side {
			position: absolute;
			width: 50%; height: 100%;
			top: 0; 
			z-index: 10;
			opacity: 0;
			* { color: $colour-white; }
			
			@media only screen and (max-width: 768px) {
				width: 100%; height: 50%;	
			}
			
			//–––BG
			.background {
				position: absolute;
				width: 100%; height: 100%;
				top: 0; left: 0;
				z-index: 10;
				
				&:after {
					content: "";
					position: absolute;
					width: 100%; height: 100%;
					top: 0; left: 0;
					background-color: rgba(0,0,0, 0.15);
					z-index: 100;
				}
				
			}
			
			//–––Title Overlay
			.title-overlay {
				position: absolute;
				width: 100%; height: auto;
				top: 50%; left: 50%;
				transform: translate(-50%,-50%);
				text-align: center;
				color: $colour-white;
				z-index: 20;
				pointer-events: none;
				will-change: filter,opacity;
				filter: blur(20px);
				opacity: 0;
				transition: filter 1000ms cubic-bezier(0.25,0.1,0.25,1), opacity 1100ms cubic-bezier(0.25,0.1,0.25,1);
				
				h1 { margin-bottom: 0px; }
				
				// &:before {
				// 	content: "";
				// 	position: absolute;
				// 	width: 100%; height: 300%;
				// 	top: 50%; left: 50%;
				// 	transform: translate(-50%,-47%);
				// 	z-index: 0;
				// 	opacity: 0.5;
				// 	background: radial-gradient(53.31% 53.31% at 50% 46.69%, #393939 33.5%, rgba(159, 159, 159, 0.00) 100%);
				// 	mix-blend-mode: multiply;
				// }
				
				@media only screen and (max-width: 768px) {
					// display: none;	
					h1 { font-size: get-rem-mobile(37); }
				}
				
			}
			
			//–––Blur Overlay
			.blur-overlay {
				position: absolute;
				width: 100%; height: 100%;
				top: 0; left: 0;
				background: rgba(0, 0, 0, 0.26);
				backdrop-filter: blur(40px);
				z-index: 25;
				opacity: 0;
				pointer-events: none;
				will-change: opacity;
				transition: opacity 700ms cubic-bezier(0.25,0.1,0.25,1) 300ms;
				
				@media only screen and (max-width: 768px) {
					display: none;	
				}
				
			}
			
			//–––Menu Overlay
			.menu {
				position: absolute;
				width: fit-content; height: auto;
				padding: 0 3em;
				white-space: nowrap;
				top: 50%; left: 50%;
				transform: translate(-50%,-50%);
				text-align: center;
				z-index: 30;
				opacity: 0;
				will-change: opacity;
				transition: opacity 400ms cubic-bezier(0.25,0.1,0.25,1);
				
				h3.header {
					margin-bottom: get-rem-desktop(34);
				}
				
				ul {
					width: 100%; height: auto;
					list-style: none;
					display: flex;
					flex-direction: column;
					row-gap: get-rem-desktop(12);
				}
				
				h3.footer {
					margin-top: get-rem-desktop(34);
				}
				
				@media only screen and (max-width: 768px) {
					display: none;	
				}
				
			}
			
			//––HOVERED
			&.hovered {
				.blur-overlay {
					opacity: 1;
					transition: opacity 600ms cubic-bezier(0.25,0.1,0.25,1);
				}
				.menu {
					opacity: 1;	
					transition: opacity 800ms cubic-bezier(0.25,0.1,0.25,1) 200ms;
				}
			}
			
			//––VISIBLE
			&.visible {
				opacity: 1;
			}
			
		}
		
		//01––Left Side
		.side.left {
			left: 0;
			
			@media only screen and (max-width: 768px) {
				left: 0;
				top: 0;	
			}
			
		}
		
		//02––Right Side
		.side.right {
			right: 0;
			
			@media only screen and (max-width: 768px) {
				right: 0;
				top: initial;
				bottom: 0;	
			}
			
		}
		
		//DOWN ARROW
		.down-arrow {
			position: absolute;
			width: get-rem-desktop(41); height: auto;
			bottom: get-rem-desktop(52); left: 50%;
			transform: translateX(-50%);
			cursor: pointer;
			z-index: 20;
			filter: blur(20px);
			opacity: 0;
			will-change: opacity,filter;
			transition: filter 1000ms cubic-bezier(0.25,0.1,0.25,1), opacity 1100ms cubic-bezier(0.25,0.1,0.25,1);
			
			@media only screen and (max-width: 768px) {
				display: none;	
			}
			
		}
		
		//LOGO
		.logo-wrap {
			position: absolute;
			width: 31%;
			height: auto;
			top: 50%; left: 50%;
			transform: translate(-50%,-72%);
			// display: none;
			z-index: 50;
			
			&.dummy {
				opacity: 0 !important;
				pointer-events: none !important;
			}
			
			&.scaling {
				
				img {
					margin: 0 auto;
					will-change: width;
				}
			
			}
			
			&.desktop-scaled {
				width: get-rem-desktop(172);
				transform: translate(-50%,0px);
				top: get-rem-desktop(40);
				will-change: width,transform,top;
				transition: width 500ms cubic-bezier(.23, 1, .32, 1), transform 500ms cubic-bezier(.23, 1, .32, 1), top 500ms cubic-bezier(.23, 1, .32, 1);
			}
			
			@media only screen and (max-width: 768px) {
				width: get-rem-mobile(250);
				display: block;	
			}
			
		}
		
	}
	
	//03–––CAROUSEL SECTION
	.carousel-section {
		width: 100%; height: auto;
		padding: get-rem-desktop(105) 0 get-rem-desktop(200) 0;
		border-bottom: 1px solid $colour-black;
		border-width: 0.5px;
		overflow: hidden;
		
		@media only screen and (max-width: 768px) {
			padding: get-rem-mobile(70) 0 get-rem-mobile(63) 0;
		}
		
		//INTRO
		.intro-wrap {
			width: percentage(1165/1760);
			margin: 0 auto;
			text-align: center;
			margin-bottom: get-rem-desktop(160);
			
			h2 { margin-bottom: get-rem-desktop(18); }
			h1 { margin-bottom: get-rem-desktop(40); }
			
			@media (min-aspect-ratio: 16/9) {
				margin-bottom: get-rem-desktop(65);
			}
			
			@media only screen and (max-width: 768px) {
				margin-bottom: get-rem-mobile(47);
				width: 90%;
				
				h2 { margin-bottom: get-rem-mobile(14); }
				h1 { margin-bottom: get-rem-mobile(23); }
				
			}
			
		}
		
		//CAROUSEL
		.carousel-section-carousel {
			width: 100%; height: auto;
			@include calc( width, '100% + #{get-rem-desktop(80)}');
			overflow: visible !important;
			.flickity-viewport,
			.flickity-slider { overflow: visible !important; }
			
			@media only screen and (max-width: 768px) {
				@include calc( width, '100% + #{get-rem-mobile(20)}');
			}
			
			.carousel-slide {
				width: get-rem-desktop(520); height: auto;
				width: 29.5%;
				@include calc( width, '29.5% - #{get-rem-desktop(80)}');
				margin-right: percentage(53/1760);
				
				//––Image
				.image {
					width: 100%; height: auto;
					@include aspect-ratio(100, 100);
					margin-bottom: get-rem-desktop(22);
				}
				
				//––Text
				.text {
					width: 100%; height: auto;
					padding-right: get-rem-desktop(95);
					* { margin-bottom: 0px; }
					
					h4, h3 { 
						&.grey {
							color: #938D83; 
						}
						a {
							color: #938D83; 
							opacity: 1 !important;
							will-change: color;
							transition: color 250ms cubic-bezier(0.25,0.1,0.25,1);	
							&:hover {
								color: $colour-black;
							}
						}
					}
					
					.description {
						a {
							font-family: $haas-grotesk;
							font-size: 91.6%;
							letter-spacing: 0.02em;
						}
					}
					
				}
				
				@media only screen and (max-width: 1240px) {
					width: 36%;
					.text {
						padding-right: 0px;
					}
				}
				
				@media only screen and (max-width: 1080px) {
					width: 45%;
				}
				
				@media (min-aspect-ratio: 16/9) {
					width: 22%;	
					margin-right: percentage(30/1760);
					.text {
						padding-right: 0px;
					}
				}
				
				@media only screen and (max-width: 768px) {
					width: get-rem-mobile(300);
					margin-right: get-rem-mobile(30.5);
					
					.image {
						margin-bottom: get-rem-mobile(20);	
					}
					
				}
				
			}
			
			//Prev / Next Buttons
			.flickity-prev-next-button {
				@include reset-input();
				position: absolute;
				width: get-rem-desktop(42); height: get-rem-desktop(520);
				top: 0;
				z-index: 500;
				transition: opacity 200ms cubic-bezier(0.25,0.1,0.25,1);
				
				svg {
					path { fill: $colour-white; }
				}
				
				&.previous {
					left: get-rem-desktop(40);
				}
				
				&.next {
					right: get-rem-desktop(-40);
					right: get-rem-desktop(40);
				}
				
				//––Disabled
				&:disabled {
					opacity: 0;
					pointer-events: none;
				}
				
				@media only screen and (max-width: 768px) {
					display: none;	
				}
				
			}
			
			//––HIDE NAV SPECIFICS
			&.hide-nav {
				.flickity-prev-next-button {
					display: none !important;	
				}
			}
			
		}
		
	}
	
	//04–––FEATURED DEVELOPMENTS
	.carousel-section.featured-developments {
		width: 100%; height: auto;
		background-color: #D3CCC0;
		padding: get-rem-desktop(105) 0 get-rem-desktop(62) 0;
		
		@media only screen and (max-width: 768px) {
			padding: get-rem-mobile(46) 0 get-rem-mobile(70) 0;
		}
		
		//INTRO
		.intro-wrap {
			width: percentage(1320/1760);
			margin-bottom: get-rem-desktop(104);
			
			@media only screen and (max-width: 768px) {
				width: percentage(316/362);
				margin-bottom: get-rem-mobile(28);
			}
			
		}
		
		//CAROUSEL
		.carousel-section-carousel {
			
			.carousel-slide {
				width: percentage(345/1760);
				margin-right: get-rem-desktop(51);
				
				a.big-link {
					position: absolute;
					width: 100%; height: 100%;
					top: 0; left: 0;
					z-index: 50;
				}
				
				//––Image
				.image {
					@include aspect-ratio(377, 282);
					margin-bottom: get-rem-desktop(24);
					
					&:after {
						content: "";
						position: absolute;
						width: 100%; height: get-rem-desktop(10);
						background-color: #401E20;
						top: 0; left: 0;
						z-index: -10;
						will-change: top;
						transition: top 250ms cubic-bezier(0.25,0.1,0.25,1);
					}
					
				}
				
				//––Text
				.text {
					.link {
						a { color: #938D83; pointer-events: none; }
					}
				}
				
				//HOVER
				&:hover {
					.image {
						&:after {
							top: get-rem-desktop(-10);
						}
					}
				}
				
				@media only screen and (max-width: 768px) {
					width: get-rem-mobile(130);
					margin-right: get-rem-mobile(10);	
					
					//––Image
					.image {
						@include aspect-ratio(130, 80);
						margin-bottom: get-rem-mobile(20);
						
						&:after {
							display: none;
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
	//03–––NON FEATURED DEV CAROUSEL SECTIONS
	.carousel-section:not(.featured-developments) {
		.carousel-section-carousel {
			.carousel-slide {
				.text {
					.description {
						a {
							font-weight: 500;
							color: $colour-maroon;
						}
					}
				}
			}
		}
	}
	
	//05–––UNIVERSE SECTION
	.universe-section {
		width: 100%; height: 100svh;
		height: auto;
		background-color: $colour-maroon;
		color: #F5F3EC;
		overflow: hidden;
		@include aspect-ratio(2630, 1474);
		
		@media only screen and (max-width: 768px) {
			height: get-rem-mobile(486);	
		}
		
		//UNIVERSE GRID
		.universe-grid {
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0;
			margin-top: get-rem-desktop(-90);
			pointer-events: none;
			z-index: 10;
			
			@media only screen and (max-width: 768px) {
				margin-top: 0px;
				margin-left: 0px;
			}
			
			.universe-block {
				position: absolute;
				
				&:nth-child(1) { 
					width: percentage(293/1316); 
					top: percentage(66/738); left: 0;
				}
				&:nth-child(2) { 
					width: percentage(184/1316); 
					top: 0; left: percentage(379/1316);
				}
				&:nth-child(3) { 
					width: percentage(350/1316); 
					top: 0; right: percentage(60/1316);
				}
				&:nth-child(4) { 
					width: percentage(357/1316); 
					bottom: -13%; left: percentage(208/1316);
				}
				&:nth-child(5) { 
					width: percentage(276/1316);
					bottom: -13%; right: percentage(190/1316);
				}
				
				@media only screen and (max-width: 768px) {
					&:nth-child(1) { 
						width: 35%; 
						top: 0; left: 0;
					}
					&:nth-child(2) { 
						width: 28%; 
						top: 0; left: initial; right: 7%;
					}
					&:nth-child(3) { 
						width: 32%; 
						top: initial; bottom: 0; right: 0;
					}
					&:nth-child(4) { 
						width: 45%; 
						bottom: 0; left: 7%;
					}
					&:nth-child(5) { 
						display: none;
					}	
				}
				
				//Media
				.media-wrap {
					width: 100%; height: auto;
					overflow: hidden;
					z-index: 10;
					pointer-events: none;
					
					.media-module {
						transform: scale(1.02);
					}
					
				}
				
				//Caption
				.caption-overlay {
					display: none !important;
				}
				
			}
			
		}
		
		//TEXT
		.text-wrap {
			position: absolute;
			width: percentage(617/1920);
			text-align: center;
			top: 50%; left: 50%;
			transform: translate(-50%,-50%);
			z-index: 20;
			h2 { margin-bottom: get-rem-desktop(10); }
			h1 { margin-bottom: get-rem-desktop(39); }
			
			.button {
				margin: 0 auto;
				margin-top: get-rem-desktop(38);
				border-color: #F5F3EC;
				h2 { margin-bottom: 0px !important; }
			}
			
			@media only screen and (max-width: 768px) {
				width: percentage(325/362);
				
				h2 { margin-bottom: get-rem-mobile(22); }
				h1 { margin-bottom: get-rem-mobile(21); padding: 0 1em; }
				
				.button {
					margin-top: get-rem-mobile(26);
					border-width: 0.5px;
				}
				
				&:before {
					content: "";
					position: absolute;
					width: 300%; height: 300%;
					top: 0; left: 0;
					transform: translate(-50%,-50%);
					background: radial-gradient(circle at 50% 46.69%, #401E20 50%, rgba(64, 30, 32, 0.00) 100%);
					mix-blend-mode: multiply;
					opacity: 0.6;
					z-index: -1;
				}
				
			}
			
		}
		
	}
	
	//06–––LARGE IMAGE SECTION
	.large-image-section {
		width: 100%; height: auto;
		height: 65vh;
		overflow: hidden;
		
		@media only screen and (max-width: 768px) {
			height: auto;	
		}
		
		//BG Image
		.bg {
			width: 100%; height: auto;
			z-index: 10;
			
			&.desktop {
				position: absolute;
				width: 100%; height: 100%;
				top: 0; left: 0;
				display: block;
			}
			
			&.mobile {
				position: relative;
				width: 100%; height: auto;
				display: none;
			}
			
			@media only screen and (max-width: 768px) {
				&.desktop { display: none; }
				&.mobile { display: block; }
			}
			
		}
		
		//Link
		a.link {
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0;
			z-index: 50;
		}
		
	}

}