/*
FOOTER ------------------
*/

footer {
	position: relative;
	width: 100%; height: auto;
	background-color: $colour-off-black;
	color: $colour-cream;
	padding: get-rem-desktop(58) 0 get-rem-desktop(67) 0;
	z-index: 100;
	a { color: $colour-cream; }
	
	@media only screen and (max-width: 768px) {
		padding: get-rem-mobile(39) 0 get-rem-mobile(24) 0;
	}
	
	.outer-content-wrap {
		display: flex;
		flex-direction: column;
		row-gap: get-rem-desktop(75);
		
		.column {
			width: percentage(387/904);
			
			&.left {}
			
			&.right {
				text-align: right;
			}
			
			.inner-column {
				width: percentage(328/742);
			}
			
		}
		
		@media only screen and (max-width: 768px) {
			row-gap: 0px;
		}
		
	}
	
	//TOP ROW
	.top-row {
		width: 100%; height: auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		
		//Left Column
		.column.left {
			
			@media only screen and (max-width: 768px) {				
				h5.company-info { display: none; }	
			}
			
		}
		
		//Right Column
		.column.right {
			display: flex;
			justify-content: flex-end;
			column-gap: get-rem-desktop(60);
			
			.footer-menu,
			.legal-menu {
				display: flex;
				flex-direction: column;
				row-gap: 0.2em;
			}
			
		}
		
		@media only screen and (max-width: 768px) {	
			display: none;	
		}
		
	}
	
	//BOTTOM ROW
	.bottom-row {
		width: 100%; height: auto;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		
		@media only screen and (max-width: 768px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			row-gap: get-rem-mobile(70);
		}
		
		//Left Column
		.column.left {
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			
			.inner-column.social-links {
				h6 { margin-bottom: 0px; }
			}
			
			@media only screen and (max-width: 768px) {
				width: 100%;
				flex-direction: column;
				row-gap: get-rem-desktop(33);
				
				.inner-column {
					width: 100%;
					a { color: #938D83; }
				}
					
			}
			
		}
		
		//––MOBILE MENUS
		.mobile-menus-wrap {
			width: 100%; height: auto;
			display: none;
			align-items: flex-start;
			justify-content: flex-start;
			margin-top: -0.8em;
			
			.legal-menu {
				width: 100%; height: auto;
				display: flex;
				flex-direction: column;
				row-gap: 0.2em;
			}
			
			@media only screen and (max-width: 768px) {
				display: flex;
			}
			
		}
		
		//Right Column
		.column.right {
			display: flex;
			flex-direction: column;
			row-gap: get-rem-desktop(9);
			
			@media only screen and (max-width: 768px) {
				width: 100%;
				flex-direction: row-reverse;
				align-items: flex-end;	
				justify-content: space-between;
				
				h3.copyright { text-align: left; }
				
			}
			
		}
		
		//Footer Logo
		img.footer-logo {
			position: absolute;
			width: get-rem-desktop(54); height: auto;
			bottom: 0; left: 50%;
			transform: translateX(-50%);
			cursor: pointer;
			
			@media only screen and (max-width: 768px) {
				width: get-rem-mobile(38);
				left: 0;
				transform: translateX(0px);
			}
			
		}
	
	}
	
}