<div class="centred-intro-text-panel">
	<div class="outer-content-wrap shift-on-scroll">
		<div class="text-wrap">
		{% if block.peopleTextContent|length %}
			{{ block.peopleTextContent }}
		{% endif %}
		</div>
	</div>
</div>